.todo-item {
  max-width: 600px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  list-style: none;
  display: flex;
  align-items: center;
}

.todo-input {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
}

.todo-check {
  transform: scale(1.25);
}

.todo-title {
  width: 100%;
  text-align: center;
}

.todo-delete {
  padding: 0.25rem 0.5rem;
  height: max-content;
  background-color: rgb(255, 192, 203);
  border: 1px solid black;
  color: black;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background-color: rgba(255, 192, 203, 0.5);
  }

  &:active {
    transform: scale(0.975);
  }
}
